    body 
    {
        background-color: #EFEFEF;
        font-family: arial, sans-serif;
    }
    .rectangle_green
    {
        height: 100px;
        background-color:rgb(49, 163, 58);
        font-size: 50;
        float: left;
        min-width: 70px;
        border: none;
        border-radius: 0 20px 20px 0 ;
    }
    .rectangle_red
    {
        height: 100px;
        background-color:rgb(185, 61, 61);
        font-size: 50;
        float: right;
        min-width: 70px;
        border: none;
        border-radius: 20px 0 0 20px;
    }    
    .img
    {
        text-align: center;
    }